<html>
    <head>
        <title>New auto.ru advertisments</title>
        <meta name="description" content="New auto.ru advertisments">

        <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

            <!-- Optional theme -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"  crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <h1 class="">New ads for the last day</h1>
                    <ul class="media-list">

                        {% for ad in ads %}
                          <li class="media">
                            <div class="media-left">
                              <a href="{{ ad.page_url }}">
                                <img class="media-object" src="{{ ad.photo_url }}" alt="{{ ad.title }}">
                              </a>
                            </div>
                            <div class="media-body">
                              <h4 class="media-heading">{{ ad.title }}</h4>
                                <p>{{ ad.year  }}</p>
                                <p>{{ ad.price  }}</p>
                                <p>{{ ad.mileage  }}</p>
                                <p>{{ ad.essentials  }}</p>
                                <p>{{ ad.location  }}</p>
                            </div>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    </body>
</html>
